body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    display: block;
    width: 80%; /* Remove a tradução para garantir centralização */
    margin: 0 auto 10px auto; /* Centraliza horizontalmente */
    padding: 8px;
}

form button {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto 50px auto;
}

form button:hover {
    background-color: #45a049;
}

.product {
    margin: 10px;
    padding: 20px 10px;
    background-color: #efeded;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product h3 {
    margin: 0;
    flex: 1;
    cursor: pointer;
}

.product p {
    margin: 0 10px;
    flex: 1;
    cursor: default;
}

.product button {
    flex: 0 1 auto;
    background-color: #f44336;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 2px 10px;
}

a{
    text-decoration: none;
}
a:link{
    color: #000;
}
a:visited{
    color: #000;
}
a:hover{
    color: #4ec612;
    transition: 0.2s;
}